---
import Layout from '../layouts/Layout.astro';
import LegalAideChatbot from '../components/LegalAideChatbot';
---

<Layout title="Legal Aide Chatbot">
	<main class="flex items-center justify-center min-h-screen bg-gray-190">
		<LegalAideChatbot client:load />
	</main>
</Layout>